<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher_frent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_frent_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RPNCalc" >

<activity
    android:name=".RPNCalcActivity"
        android:windowSoftInputMode="stateHidden"
    android:exported="true">

    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>

</activity>

<meta-data
    android:name="com.google.android.gms.ads.ca-app-pub-7542723422099323~8177410674"
    android:value="ca-app-pub-3940256099942544~3347511713"
    />
<meta-data
    android:name="com.google.android.gms.ads.ca-app-pub-7542723422099323~8177410674"
    android:value="ca-app-pub-7542723422099323/4504633160"
    />
</application>
    </manifest>